@import "partials/_variables.scss";
@import "partials/_mixins.scss";
@import "partials/_dropdownmenu.scss";
@import "partials/_hamburgermenu.scss";
@import "partials/_searchbar.scss";
@import "partials/_hero.scss";
@import "partials/_footer.scss";
@import "partials/_content.scss";


body{
  background-color: $color6;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: .05rem;
  font-weight: 100;
  position: relative;
  // height:2000px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, {
  margin:0;
  padding:0;
}

a{
  text-decoration: none;
  color:inherit;
}

ul, ol, li{
  list-style-type: none;
}

*{
  box-sizing: border-box;
}


// ------------------HEADER-------------------

header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 2;
}

nav{
  background-color: $color4;
  color:$color1;
  padding:0 7%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $shadow;
}

.logo{
  display: flex;
  align-items: center;

  #large-logo, #small-logo{
    height:40px;
  }

  #large-logo{
    display: none;
  }

  h4{
    font-weight: 100;
    margin-left: 15px;
    display: none;
  }

}




// MEDIA QUERIES________________________________

@media (min-width:1000px) {

  .logo{

    #large-logo{
      display:inline-block;
      height: 30px;
      margin: 0 0 5px 10px;
    }
  }
}


@media (min-width:1200px) {
  .logo{
    h4{
      display: inline-block;
    }
  }
}
